* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 1320px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin-top: 10px;
    /* width: max-content; */
    width: 200px;
    text-align: center;
    padding: 10px 10px;
    height: 400px;
    border: 2px solid blue;
    margin-left: 100px;
}
.pagination{
    text-align: center;
}
.pagination button{
    margin: 10px;
    background-color: bisque;
    padding: 10px;
    text-align: center;
}

.col-4 {
    width: 25%;
}

.justify-content-center {
    justify-content: center;
}

.card img {
    width: 100%;
    padding: 10px 10px;
    
}
.text-center{
    margin: auto;
    padding: 10px;
    text-align: center !important;
    background-color: bisque;
}